@font-face {
    font-family: "BalooBhaina2";
    src: url("/fonts/Baloo_Bhaina_2/BalooBhaina2-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-VariableFont_wght.ttf");
}

$baloobhaina2: BalooBhaina2 ;
$manrope: Manrope ;